<% var data = {
title: "Снаб Пром",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <section class="main" id="main">
        <div class="main__background">
            <img src="img/mainBg.png" alt="background-img" class="background-img">
        </div>
        <div class="container">
            <div class="main__desc">
                <h1 class="title">Производство труб в ППУ изоляции</h1>
                <p class="main__subtitle">И надёжная доставка по Казахстану сразу под монтаж</p>
                <ul class="main__list">
                    <li class="list-item">ГОСТ 30732-2006, <br> (9.601-2005, 9.602-200)</li>
                    <li class="list-item">ГОСТ 30732-2020</li>
                </ul>
            </div>
            <div class="main__form">
                <p class="main__form-title">Получите расчёт стоимости и сроков в течение часа</p>
                <form class="main__form-body" action="./php/send.php" id="main-form" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <input type="text" name="phone" class="form-input phone-mask" placeholder="Телефон" required>
                    <input type="text" name="name" class="form-input" placeholder="Имя" required>
                    <button class="main-btn" type="submit">Получить расчёт</button>
                    <label for="formUploadMain" class="form-upload">
                        <span class="upload-wrap">
                            <span class="upload-icon"></span>
                            <span class="upload-name fileName" id="fileNameMain">Прикрепить файл</span>
                            <input hidden id="formUploadMain" class="inputFile" type="file" name="myfile" size="40" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                        </span>
                        <span class="upload-desc">Нажимая на кнопку, вы даёте согласие на обработку данных</span>
                    </label>
                </form>
            </div>
        </div>
    </section>
    <section class="advantage" id="advantage">
        <div class="container">
            <ul class="advantage__list">
                <li class="advantage__item">
                    <img src="img/advantage-time.svg" alt="icon" class="item-img">
                    <p class="item-desc">Отсрочка платежа <br> от 30 до 60 дней</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-hand.svg" alt="icon" class="item-img">
                    <p class="item-desc">Реализуем проекты любой сложности</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-elem.svg" alt="icon" class="item-img">
                    <p class="item-desc">Все комплектующие <br> и фасонные изделия</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-product.svg" alt="icon" class="item-img">
                    <p class="item-desc">Новое производство полного цикла</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="catalog" id="catalog">
        <div class="container">
            <div class="catalog__text">
                <h2 class="title">Трубы в ППУ изоляции <br> от производителя <br> с гарантией</h2>
                <p class="subtitle">Профессиональный отдел ОТК на базе собственной лаборатории гарантирует строгое соблюдение норм и стандартов ГОСТа</p>
                <div class="desc"><img class="catalog__desc-icon" src="img/mark.svg" alt="icon">Гарантируем 25 лет бесперебойной эксплуатации</div>
                <button class="desc catalog__cert-btn"><img class="catalog__desc-icon" src="img/cert-icon.svg" alt="icon">Сертификаты</button>
            </div>
            <div class="catalog__cert">
                <div class="cert-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cert-btn">
                    <div class="cert-btn-prev button-prev"></div>
                    <div class="cert-btn-next button-next"></div>
                </div>
                <div class="swiper-pagination">
                    <div class="bullet"></div>
                </div>
            </div>
            <div class="catalog__list">
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product1.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППУ-ПЭ изоляция</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product2.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППЦ ОЦ</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product3.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППУ-ПЭ изоляция</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="catalog__advantage">
                <img src="img/catalog-advantage.png" alt="image" class="advantage-img">
                <div class="advantage-list">
                    <h4 class="advantage-title">В наличии все комплектующие и фасонные изделия</h4>
                    <span class="advantage-item item1">Соединительные детали</span>
                    <span class="advantage-item item2">Системы ОДК</span>
                    <span class="advantage-item item3">Комплекты заделки стыков</span>
                    <button class="advantage-btn main-btn">Рассчитать стоимость</button>
                </div>
            </div>
        </div>
    </section>
</main>


<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

