<% var data = {
title: "Снаб Пром",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <section class="main" id="main">
        <div class="main__background">
            <img src="img/mainBg.png" alt="background-img" class="background-img">
        </div>
        <div class="container">
            <div class="main__desc">
                <h1 class="title">Производство труб в ППУ изоляции</h1>
                <p class="main__subtitle">И надёжная доставка по Казахстану сразу под монтаж</p>
                <ul class="main__list">
                    <li class="list-item">ГОСТ 30732-2006, <br> (9.601-2005, 9.602-200)</li>
                    <li class="list-item">ГОСТ 30732-2020</li>
                </ul>
            </div>
            <div class="main__form">
                <p class="main__form-title">Получите расчёт стоимости и сроков в течение часа</p>
                <form class="main__form-body" action="./php/send.php" id="main-form" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <input type="text" name="phone" class="form-input phone-mask" placeholder="Телефон" required>
                    <input type="text" name="name" class="form-input" placeholder="Имя" required>
                    <button class="main-btn" type="submit">Получить расчёт</button>
                    <label for="formUploadMain" class="form-upload">
                        <span class="upload-wrap">
                            <span class="upload-icon"></span>
                            <span class="upload-name fileName" id="fileNameMain">Прикрепить файл</span>
                            <input hidden id="formUploadMain" class="inputFile" type="file" name="myfile" size="40" accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                        </span>
                    </label>
                </form>
            </div>
        </div>
    </section>
    <section class="advantage" id="advantage">
        <div class="container">
            <ul class="advantage__list">
                <li class="advantage__item">
                    <img src="img/advantage-time.svg" alt="icon" class="item-img">
                    <p class="item-desc">Отсрочка платежа <br> от 30 до 60 дней</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-hand.svg" alt="icon" class="item-img">
                    <p class="item-desc">Реализуем проекты любой сложности</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-elem.svg" alt="icon" class="item-img">
                    <p class="item-desc">Все комплектующие <br> и фасонные изделия</p>
                </li>
                <li class="advantage__item">
                    <img src="img/advantage-product.svg" alt="icon" class="item-img">
                    <p class="item-desc">Новое производство полного цикла</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="catalog" id="catalog">
        <div class="container">
            <div class="catalog__text">
                <h2 class="title">Трубы в ППУ изоляции <br> от производителя <br> с гарантией</h2>
                <p class="subtitle">Профессиональный отдел ОТК на базе собственной лаборатории гарантирует строгое соблюдение норм и стандартов ГОСТа</p>
                <div class="desc"><img class="catalog__desc-icon" src="img/mark.svg" alt="icon">Гарантируем 25 лет бесперебойной эксплуатации</div>
                <button class="desc catalog__cert-btn"><img class="catalog__desc-icon" src="img/cert-icon.svg" alt="icon">Сертификаты</button>
            </div>
            <div class="catalog__cert">
                <div class="cert-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/cert1.png" class="cert-slide" data-fancybox="catalog-cert">
                                <img src="img/cert1.png" alt="cert" class="cert-slide-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cert-btn">
                    <div class="cert-btn-prev button-prev"></div>
                    <div class="cert-btn-next button-next"></div>
                </div>
                <div class="cert-pagination">
                    <div class="bullet"></div>
                </div>
            </div>
            <div class="catalog__list">
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product1.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППУ-ПЭ изоляция</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product2.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППЦ ОЦ</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
                <div class="list-item">
                    <div class="img-wrap">
                        <img src="img/product3.png" alt="product" class="item-img">
                    </div>
                    <div class="item-desc">
                        <span class="desc-title">ППУ-ПЭ изоляция</span>
                        <span class="desc-text desc-text-1">Толщина стенки: 1–32 мм Ø10–1620 мм</span>
                        <span class="desc-text desc-text-2"><span class="fat">ГОСТ</span> 10704-91 10705-80 10706-76 8696-74</span>
                    </div>
                    <button class="item-btn catalog-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="catalog__advantage">
                <img src="img/catalog-advantage.png" alt="image" class="advantage-img">
                <div class="advantage-list">
                    <span class="advantage-title">В наличии все комплектующие и фасонные изделия</span>
                    <span class="advantage-item item1">Соединительные детали</span>
                    <span class="advantage-item item2">Системы ОДК</span>
                    <span class="advantage-item item3">Комплекты заделки стыков</span>
                    <button class="advantage-btn main-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="main-form">
                <div class="main-block-left">
                    <h2 class="title">Оставьте заявку на расчёт</h2>
                    <p class="subtitle">Рассчитаем стоимость в течение рабочего дня</p>
                    <form action="./php/send.php" class="main-body"  method="post" accept-charset="utf-8" enctype="multipart/form-data">
                        <div class="input-wrap">
                            <label for="commentFormOne" class="input-label">Описание заказа или комментарий</label>
                            <textarea name="comment" type="text" id="commentFormOne" class="form-comment"></textarea>
                        </div>
                        <label for="formUploadOne" class="form-upload">
                            <span class="upload-icon"></span>
                            <span class="upload-name fileName" id="fileNameOne">Прикрепить файл</span>
                            <input hidden id="formUploadOne" class="inputFile" type="file" name="myfile" size="40"
                                   accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                        </label>
                        <div class="input-wrap">
                            <label for="nameFormOne" class="input-label">Имя</label>
                            <input name="name" type="text" id="nameFormOne" class="form-input" required placeholder="Иван">
                        </div>
                        <div class="input-wrap">
                            <label for="phoneFormOne" class="input-label">Телефон</label>
                            <input name="phone" type="text" id="phoneFormOne" class="form-input phone-mask" required placeholder="+7 (7212) 502 612">
                        </div>
                        <div class="input-wrap">
                            <label for="emailFormOne" class="input-label">Почта</label>
                            <input data-validation="required email" type="email" name="email" id="emailFormOne" class="form-input" required placeholder="example@mail.ru">
                        </div>
                        <button type="submit" class="main-submit main-btn">Отправить на расчёт</button>
                    </form>
                    <a href="mailto:toosnabprom@mail.ru" class="main-email">Можно на почту: <span class="fat">toosnabprom@mail.ru</span></a>
                </div>
                <div class="main-block-right">
                    <span class="right-title">Получить КП <br> или договориться о личной встрече</span>
                    <span class="subtitle">Оставьте заявку, перезвоним в течение 10 минут</span>
                    <button class="main-btn main-btn openModal" data-modal="modal__callback">Свяжитесь со мной</button>
                    <a href="tel:+77758885529" class="main-block-phone">+7 775 888 55 29</a>
                    <span class="main-block-text">Или позвоните. Мы на связи <br> с 9:00 до 18:00</span>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <h2 class="title">Завод Снаб Пром - современное <span class="accent">производство полного цикла</span></h2>
            <div class="about__block">
                <div class="block-text">
                    <span class="text-title">Две линии экструзионной оболочки и одна для оцинкованной</span>
                    <span class="text-desc">Используем первичное сырье и строгие регламенты условий хранения — это гарантирует точное соблюдение технологии производства</span>
                    <div class="about-logo">
                        <img src="img/about-logo.png" alt="logo" class="logo-img">
                        <span class="logo-text">Guangdong Liansu Machinery Manufacturing Co.,LTD (LIANSU)</span>
                    </div>
                </div>
                <img src="img/about1.png" alt="image" class="block-img">
            </div>
            <div class="about__slider">
                <div class="about-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!--Первый слайд-->
                            <img src="img/about-slide1.png" alt="image" class="about-slide-image">
                        </div>
                        <div class="swiper-slide">
                            <!--Второй слайд-->
                            <img src="img/about1.png" alt="image" class="about-slide-image">
                        </div>
                        <div class="swiper-slide">
                            <!--Третий слайд-->
                            <img src="img/about-slide1.png" alt="image" class="about-slide-image">
                        </div>
                    </div>
                    <div class="about-btn">
                        <div class="about-btn-prev button-prev"></div>
                        <div class="about-btn-next button-next"></div>
                    </div>
                </div>
                <div class="about-pagination">
                    <div class="bullet"></div>
                </div>
                <div class="about-slider-desc">
                    <div class="about-scrollbar"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!--Описание первого слайда-->
                            <div class="desc-slide">
                                <span class="text-title">Заголовок первого слайда</span>
                                <span class="text-desc">Описание первого слайда</span>
                                <span class="text-subtitle">ГОСТ</span>
                                <ul class="about-gost">
                                    <li class="gost-item">10704-91</li>
                                    <li class="gost-item">10705-80</li>
                                    <li class="gost-item">10706-76</li>
                                    <li class="gost-item">8696-74</li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <!--Описание второго слайда-->
                            <div class="desc-slide">
                                <span class="text-title">Заголовок второго слайда</span>
                                <span class="text-desc">Описание второго слайда</span>
                                <span class="text-subtitle">ГОСТ</span>
                                <ul class="about-gost">
                                    <li class="gost-item">10704-91</li>
                                    <li class="gost-item">10705-80</li>
                                    <li class="gost-item">10706-76</li>
                                    <li class="gost-item">8696-74</li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <!--Описание третьего слайда-->
                            <div class="desc-slide">
                                <span class="text-title">Заголовок третьего слайда</span>
                                <span class="text-desc">Описание третьего слайда</span>
                                <span class="text-subtitle">ГОСТ</span>
                                <ul class="about-gost">
                                    <li class="gost-item">10704-91</li>
                                    <li class="gost-item">10705-80</li>
                                    <li class="gost-item">10706-76</li>
                                    <li class="gost-item">8696-74</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__cert">
                <div class="about__cert-wrapper">
                    <div class="about__cert-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/about-cert1.png" alt="image" class="about-cert" data-fancybox="about-cert">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/about-cert2.png" alt="image" class="about-cert" data-fancybox="about-cert">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/about-cert1.png" alt="image" class="about-cert" data-fancybox="about-cert">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/about-cert2.png" alt="image" class="about-cert" data-fancybox="about-cert">
                            </div>
                        </div>
                    </div>
                    <div class="cert-btn">
                        <div class="cert-btn-prev button-prev"></div>
                        <div class="cert-btn-next button-next"></div>
                    </div>
                    <div class="about-cert-pagination">
                        <div class="bullet"></div>
                    </div>
                </div>
                <div class="block-text">
                    <span class="text-title">Даём гарантию. Если трубы придут на объект с дефектами – заменим за свой счёт</span>
                    <span class="text-desc">Собственная лаборатория контролирует характеристики всех материалов</span>
                    <div class="btn-block">
                        <span class="text-item">CT-KZ</span>
                        <button class="cert-link">Сертификаты</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="provider" id="provider">
        <div class="container">
            <h2 class="title">Организуем надежную поставку на объект, точно по графику</h2>
            <div class="provider__map">
                <div class="map-list">
                    <span class="list-item item-1">Большие объёмы доставляем с завода ж/д транспортом</span>
                    <span class="list-item item-2">Свой транспорт и отлаженная логистика</span>
                </div>
                <img src="img/map.png" alt="map" class="map-img">
                <div class="map-desc">
                    <div class="map-title">20<span class="title-text"> тыс</span></div>
                    <div class="map-subtitle">метров труб производим в месяц</div>
                </div>
            </div>
            <div class="provider__form">
                <img src="img/form-decor.png" alt="decor" class="form-decor">
                <div class="form-wrapper">
                    <h3 class="title">Получите консультацию или договоритесь об экскурсии на завод</h3>
                    <form class="provider__form-body" action="./php/send.php" id="cases-form" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                        <input type="text" name="post" class="form-input" placeholder="Почта" required>
                        <input type="text" name="phone" class="form-input phone-mask" placeholder="Телефон" required>
                        <button class="main-btn submit-btn" type="submit">Получить расчёт</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="cases" id="cases">
        <div class="container">
            <div class="cases__list">
                <h2 class="title">Поставляли трубы на <span class="accent">крупнейшие стройки Казахстана</span></h2>
                <div class="cases__slider">
                    <div class="slider-wrapper">
                        <div class="swiper-wrapper">
                            <div class="slide swiper-slide">
                                <img src="img/case1.png" alt="img" class="slide-img">
                                <div class="desc-wrapper">
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Заказчик:</span>
                                        <span class="desc-title">ТОО Тамыр-Ақтөбе</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Объект:</span>
                                        <span class="desc-title">Магистральный газопровод «Жанаозен – Актау»</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-sum">4,427 млрд ₸</span>
                                        <span class="desc-subtitle">Сумма поставки</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide swiper-slide">
                                <img src="img/case2.png" alt="img" class="slide-img">
                                <div class="desc-wrapper">
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Заказчик:</span>
                                        <span class="desc-title">ТОО Тамыр-Ақтөбе</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Объект:</span>
                                        <span class="desc-title">Нефтепровод на месторождении Кумколь</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-sum">2,192 млрд ₸</span>
                                        <span class="desc-subtitle">Сумма поставки</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide swiper-slide">
                                <img src="img/case3.png" alt="img" class="slide-img">
                                <div class="desc-wrapper">
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Заказчик:</span>
                                        <span class="desc-title">ТОО Тамыр-Ақтөбе</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Объект:</span>
                                        <span class="desc-title">Строительство золоотвала для Карагандинской ТЭЦ-3</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-sum">2,192 млрд ₸</span>
                                        <span class="desc-subtitle">Сумма поставки</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide swiper-slide">
                                <img src="img/case1.png" alt="img" class="slide-img">
                                <div class="desc-wrapper">
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Заказчик:</span>
                                        <span class="desc-title">ТОО Тамыр-Ақтөбе</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-subtitle">Объект:</span>
                                        <span class="desc-title">Магистральный газопровод «Жанаозен – Актау»</span>
                                    </div>
                                    <div class="slide-desc">
                                        <span class="desc-sum">4,427 млрд ₸</span>
                                        <span class="desc-subtitle">Сумма поставки</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__button-prev button-slide">
                            <svg class="arrow arrow-prev" width="100%" height="100%" viewBox="0 0 20 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 32L2 16.5L19 1" stroke="#FFFFFF" stroke-width="2"/>
                            </svg>
                        </div>
                        <div class="cases__button-next button-slide">
                            <svg class="arrow arrow-next" width="100%" height="100%" viewBox="0 0 20 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L18 16.5L1 32" stroke="#FFFFFF" stroke-width="2"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cases__wrapper">
                <div class="table-title">
                    <span class="text">Ежегодно <br> отгружаем</span>
                    <img src="img/num.svg" alt="number" class="num">
                    <span class="text">тысяч тонн трубы</span>
                </div>
                <div class="body-wrapper">
                    <div class="table-body">
                        <table class="table">
                            <table class="headline">
                                <tr class="row">
                                    <th  class="city strong">Город</th>
                                    <th  class="city strong">Контрагент</th>
                                    <th  class="city sum strong">Сумма поставки</th>
                                </tr>
                            </table>
                            <div class="table-scroll">
                                <table>
                                    <tr class="row">
                                        <td  class="city strong">Жанаозен-Актау</td>
                                        <td  class="city">ТОО СМК-4</td>
                                        <td  class="city sum">3 239 460 902,49 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong">Актау</td>
                                        <td  class="city">ТОО BERTYS MAСHINERY</td>
                                        <td  class="city sum">2 791 703 607,67 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong">Алматы</td>
                                        <td  class="city">ТОО ОблШығыcЖол</td>
                                        <td  class="city sum">2 414 378 952,00 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong">Астана</td>
                                        <td  class="city">ТОО ДАНиЕР фирма ПТС</td>
                                        <td  class="city sum">2 366 726 852,34 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong">Северо-Казахстанская область</td>
                                        <td  class="city">China Road and Bridge Corporation in Kyrgyzstan</td>
                                        <td  class="city sum">1 765 497 998,44 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong"></td>
                                        <td  class="city">ТОО АЛАМАК СТРОЙ</td>
                                        <td  class="city sum">1 539 307 345,81 ₸</td>
                                    </tr>
                                    <tr class="row">
                                        <td  class="city strong"></td>
                                        <td  class="city">ТОО АЛАМАК СТРОЙ</td>
                                        <td  class="city sum">1 539 307 345,81 ₸</td>
                                    </tr>
                                </table>
                            </div>
                        </table>
                    </div>
                    <div class="table-text">Часть компаний и объектов, с которыми мы работали</div>
                </div>
            </div>
            <div class="cases__doc">
                <div class="doc-list">
                    <div class="doc-wrapper">
                        <div class="doc-item"><img src="img/case-desc1.png" alt="img" class="item-img"></div>
                        <div class="doc-item"><img src="img/case-desc2.png" alt="img" class="item-img"></div>
                    </div>
                </div>
                <span class="doc-link">За 2024 год мы отчислили в гос. бюджет — 1, 625 млрд. ₸ в виде налоговых отчислений</span>
            </div>
            <div class="main-form">
                <div class="main-block-left">
                    <h2 class="title">Оставьте заявку на расчёт</h2>
                    <p class="subtitle">Рассчитаем стоимость в течение рабочего дня</p>
                    <form action="./php/send.php" class="main-body"  method="post" accept-charset="utf-8" enctype="multipart/form-data">
                        <div class="input-wrap">
                            <label for="commentFormTwo" class="input-label">Описание заказа или комментарий</label>
                            <textarea name="comment" type="text" id="commentFormTwo" class="form-comment"></textarea>
                        </div>
                        <label for="formUploadTwo" class="form-upload">
                            <span class="upload-icon"></span>
                            <span class="upload-name fileName" id="fileNameTwo">Прикрепить файл</span>
                            <input hidden id="formUploadTwo" class="inputFile" type="file" name="myfile" size="40"
                                   accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx" aria-invalid="false">
                        </label>
                        <div class="input-wrap">
                            <label for="nameFormTwo" class="input-label">Имя</label>
                            <input name="name" type="text" id="nameFormTwo" class="form-input" required placeholder="Иван">
                        </div>
                        <div class="input-wrap">
                            <label for="phoneFormTwo" class="input-label">Телефон</label>
                            <input name="phone" type="text" id="phoneFormTwo" class="form-input phone-mask" required placeholder="+7 (7212) 502 612">
                        </div>
                        <div class="input-wrap">
                            <label for="emailFormTwo" class="input-label">Почта</label>
                            <input data-validation="required email" type="email" name="email" id="emailFormTwo" class="form-input" required placeholder="example@mail.ru">
                        </div>
                        <button type="submit" class="main-submit main-btn">Отправить на расчёт</button>
                    </form>
                    <a href="mailto:toosnabprom@mail.ru" class="main-email">Можно на почту: <span class="fat">toosnabprom@mail.ru</span></a>
                </div>
                <div class="main-block-right">
                    <span class="right-title">Получить КП <br> или договориться о личной встрече</span>
                    <span class="subtitle">Оставьте заявку, перезвоним в течение 10 минут</span>
                    <button class="main-btn openModal" data-modal="modal__callback">Свяжитесь со мной</button>
                    <a href="tel:+77758885529" class="main-block-phone">+7 775 888 55 29</a>
                    <span class="main-block-text">Или позвоните. Мы на связи <br> с 9:00 до 18:00</span>
                </div>
            </div>
        </div>
    </section>
    <section class="question" id="question">
        <div class="container">
            <h2 class="title">Наши технических специалисты ответили на <span class="accent">ключевые вопросы</span> при заказе ППУ труб</h2>
            <ul class="question__list">
                <li class="list-item active">
                    <span class="item-title">Чем наши трубы в ППУ изоляции отличаются от продукции других производителей? <span class="item-icon"></span></span>
                    <span class="item-desc">В отличие от многих производителей, мы реализуем полный производственный цикл на новом автоматизированном оборудовании Guangdong Liansu Machinery Manufacturing Co.,LTD (LIANSU).   Самостоятельно производим полиэтиленовую оболочку из первичного сырья, не используя вторичные материалы. Автоматизация всех процессов, включая сварку, обеспечивает стабильное качество и точность геометрических размеров. Стыковую сварку сегментов полиэтиленовой оболочки для фитингов, делаем на специальном гидравлическом оборудовании. Для обеспечения высокого качества адгезии пенополиуретана мы проводим дробиструйную обработку стальных труб, используем центрирующие опоры и выдерживаем оптимальный угол заливки, для выхода воздуха.  Каждое изделие проходит трехступенчатый контроль качества и опрессовку, для выявления возможных дефектов.</span>
                </li>
                <li class="list-item">
                    <span class="item-title">Какие сроки производства и условия оплаты вы предлагаете?<span class="item-icon"></span></span>
                    <span class="item-desc">В отличие от многих производителей, мы реализуем полный производственный цикл на новом автоматизированном оборудовании Guangdong Liansu Machinery Manufacturing Co.,LTD (LIANSU).   Самостоятельно производим полиэтиленовую оболочку из первичного сырья, не используя вторичные материалы. Автоматизация всех процессов, включая сварку, обеспечивает стабильное качество и точность геометрических размеров. Стыковую сварку сегментов полиэтиленовой оболочки для фитингов, делаем на специальном гидравлическом оборудовании. Для обеспечения высокого качества адгезии пенополиуретана мы проводим дробиструйную обработку стальных труб, используем центрирующие опоры и выдерживаем оптимальный угол заливки, для выхода воздуха.  Каждое изделие проходит трехступенчатый контроль качества и опрессовку, для выявления возможных дефектов.</span>
                </li>
                <li class="list-item">
                    <span class="item-title">Что включает в себя система контроля качества на производстве?<span class="item-icon"></span></span>
                    <span class="item-desc">В отличие от многих производителей, мы реализуем полный производственный цикл на новом автоматизированном оборудовании Guangdong Liansu Machinery Manufacturing Co.,LTD (LIANSU).   Самостоятельно производим полиэтиленовую оболочку из первичного сырья, не используя вторичные материалы. Автоматизация всех процессов, включая сварку, обеспечивает стабильное качество и точность геометрических размеров. Стыковую сварку сегментов полиэтиленовой оболочки для фитингов, делаем на специальном гидравлическом оборудовании. Для обеспечения высокого качества адгезии пенополиуретана мы проводим дробиструйную обработку стальных труб, используем центрирующие опоры и выдерживаем оптимальный угол заливки, для выхода воздуха.  Каждое изделие проходит трехступенчатый контроль качества и опрессовку, для выявления возможных дефектов.</span>
                </li>
                <li class="list-item">
                    <span class="item-title">Какие виды продукции вы производите и можно ли заказать нестандартные решения?<span class="item-icon"></span></span>
                    <span class="item-desc">В отличие от многих производителей, мы реализуем полный производственный цикл на новом автоматизированном оборудовании Guangdong Liansu Machinery Manufacturing Co.,LTD (LIANSU).   Самостоятельно производим полиэтиленовую оболочку из первичного сырья, не используя вторичные материалы. Автоматизация всех процессов, включая сварку, обеспечивает стабильное качество и точность геометрических размеров. Стыковую сварку сегментов полиэтиленовой оболочки для фитингов, делаем на специальном гидравлическом оборудовании. Для обеспечения высокого качества адгезии пенополиуретана мы проводим дробиструйную обработку стальных труб, используем центрирующие опоры и выдерживаем оптимальный угол заливки, для выхода воздуха.  Каждое изделие проходит трехступенчатый контроль качества и опрессовку, для выявления возможных дефектов.</span>
                </li>
            </ul>
        </div>
    </section>
</main>


<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

