$main-body: #1A2236;
$white-text: #FFF;
$dark-text: #0E1932;

$accent-text: #FAD00A;
$accent-text-hover: #FB8313;

$map-point: #37B2EF;


$marker-color: #009132;

$btn-primary: #FFB600;

$btn-secondary: #FFFFFF;
$btn-secondary-hover: #232A3E;