@import "color";

.main {
  position: relative;
  &:before {
    @media screen and (max-width: 767px) {
      content: '';
      position: absolute;
      top: -110px;
      left: 0;
      width: 100%;
      height: 10%;
      background: linear-gradient(180deg, rgb(26, 34, 54) 50%,rgba(26, 34, 54, 0) 100%);
    }
    @media screen and (max-width: 425px) {
      height: 35%;
    }
  }


  &__background {
    position: absolute;
    top: -155px;
    right: -125px;
    z-index: -5;
    width: 1024px;
    height: 775px;
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      bottom: 0;
      width: 60%;
      height: 100%;
      background: linear-gradient(90deg, rgb(26, 34, 54) 0%,rgba(26, 34, 54, 0) 100%);
      @media screen and (max-width: 960px) {
        width: 100%;
        background: linear-gradient(90deg, rgb(26, 34, 54) 25%,rgba(26, 34, 54, 0) 100%);

      }
      @media screen and (max-width: 767px) {
        width: 100%;
        background: linear-gradient(90deg, rgb(26, 34, 54) 25%,rgba(26, 34, 54, 0) 100%);
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 30%;
      background: linear-gradient(0.00deg, rgb(26, 34, 54) 0%,rgba(26, 34, 54, 0) 100%);
    }
    @media screen and (max-width: 1199px) {
      top: -150px;
      right: 0;
      width: 784px;
      height: 593px;
    }
    @media screen and (max-width: 425px) {
      top: -110px;
      width: 610px;
      height: 462px;
      &:before {
        width: 70%;
        background: linear-gradient(90deg, rgb(26, 34, 54) 10%,rgba(26, 34, 54, 0.8) 25%,rgba(26, 34, 54, 0) 106.597%);
      }
    }
    @media screen and (max-width: 767px) {
      left: 25px;
    }
  }

  .background-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__desc {
    max-width: 590px;
    margin-top: 61px;
    @media screen and (max-width: 767px) {
      margin-top: 48px;
    }
    @media screen and (max-width: 425px) {
      margin-top: 48px;
    }
  }

  .title {
    @media screen and (max-width: 1199px) {
      max-width: 510px;
    }
    @media screen and (max-width: 767px) {
      max-width: 330px;
    }
  }

  &__subtitle {
    max-width: 510px;
    margin: 20px 0 47px;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 155%;
    @media screen and (max-width: 1199px) {
      max-width: 440px;
      margin: 12px 0 28px;
      font-size: 2.4rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 330px;
      margin: 6px 0 21px;
      font-size: 1.8rem;
    }
    @media screen and (max-width: 425px) {
      max-width: 190px;
    }
  }

  .list-item {
    position: relative;
    padding-left: 26px;
    margin-bottom: 6px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 155%;
    &:last-child {
      margin-bottom: 0;
    }
    br {
      display: none;
      @media screen and (max-width: 425px) {
        display: block;
      }
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 11px;
      font-size: 1.8rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.6rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-image: url("../img/check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 16px;
      height: 12px;
      @media screen and (max-width: 425px) {
        top: 6px;
        transform: none;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 30px;
    margin-top: 76px;
    border-radius: 20px;
    backdrop-filter: blur(34px);
    background: rgba(255, 255, 255, 0.09);
    @media screen and (max-width: 1199px) {
      align-items: start;
      margin-top: 78px;
    }
    @media screen and (max-width: 960px) {
      flex-direction: column;
      max-width: 425px;
      padding: 30px 28px;
      margin: 78px auto 0;
    }
  }

  &__form-title {
    max-width: 225px;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 130%;
    @media screen and (max-width: 960px) {
      max-width: 100%;
      margin-bottom: 18px;
    }
  }

  &__form-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    @media screen and (max-width: 1199px) {
      max-width: 537px;
    }
    @media screen and (max-width: 960px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .form-input {
    width: 263px;
    height: 64px;
    padding: 20px 15px;
    border-radius: 5px;
    background: $white-text;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    @media screen and (max-width: 960px) {
      width: 100%;
      margin-bottom: 6px;
    }
  }

  .main-btn {
    height: 64px;
    padding: 20px 59px;
    @media screen and (max-width: 1199px) {
      order: 4;
      margin-top: 18px;
    }
    @media screen and (max-width: 767px) {
      height: 62px;
      margin-top: 20px;
    }
  }

  .form-upload {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 18px;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: start;
      flex: auto;
      max-width: 215px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 6px;
    }
  }

  .upload-wrap {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  .upload-icon {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-image: url("../img/upload-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
    }

  }

  .upload-name {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 1px dashed rgba(255, 255, 255, .5);

    }
  }

  .upload-desc {
    margin-left: auto;
    opacity: .5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    @media screen and (max-width: 1199px) {
      margin-left: 0;
      font-size: 1.3rem;
    }
  }
}

.advantage {
  padding-top: 52px;
  padding-bottom: 70px;
  @media screen and (max-width: 1199px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      max-width: 425px;
      margin: 0 auto;
    }
  }

  &__item {
    flex-basis: 23%;
    height: 215px;
    padding: 24px 24px 32px;
    border-radius: 20px;
    backdrop-filter: blur(34px);
    background: rgba(255, 255, 255, 0.09);
    @media screen and (max-width: 1199px) {
      height: 240px;
      padding: 20px 15px 30px;
    }
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 49%;
      height: 180px;
      padding: 20px 10px;
      margin-bottom: 10px;
    }
  }

  .item-img {
    width: 72px;
    height: 72px;
    margin-bottom: 24px;
    object-fit: contain;
    @media screen and (max-width: 960px) {
      width: 55px;
      height: 55px;
      margin-bottom: 16px;
    }
  }

  .item-desc {
    font-size: 2rem;
    font-weight: 400;
    line-height: 155%;
    @media screen and (max-width: 1199px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 1.5rem;
    }
    br {
      @media screen and (max-width: 960px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}

.catalog {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__text {
    max-width: 765px;
    @media screen and (max-width: 1199px) {
      max-width: 532px;
    }
    @media screen and (max-width: 960px) {
      max-width: 100%;
    }
    @media screen and (max-width: 767px) {
      max-width: 425px;
      margin: 0 auto;
    }
  }


  .subtitle {
    max-width: 635px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 155%;
    opacity: .8;
    @media screen and (max-width: 1199px) {
      max-width: 460px;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 1.8rem;
    }
    @media screen and (max-width: 960px) {
      max-width: 410px;
      font-size: 1.6rem;
    }
  }

  .desc {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2%;
    color: $white-text;
    @media screen and (max-width: 1199px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 960px) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 275px;
    }
  }

  .desc.catalog__cert-btn {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      margin-top: 13px;
    }
  }

  &__desc-icon {
    width: 30px;
    height: 42px;
    margin-right: 10px;
    object-fit: contain;
  }

  &__cert {
    position: absolute;
    top: 15px;
    right: 53px;
    width: 186px;
    @media screen and (max-width: 1199px) {
      right: 73px;

    }
    @media screen and (max-width: 960px) {
      top: 65px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .cert-slider {
    overflow: hidden;
  }

  .cert-slide {
    display: flex;
    width: 186px;
    height: 264px;
  }

  .cert-btn {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 292px;
  }

  .cert-btn-prev,
  .cert-btn-next {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  //
  //.swiper-button-disabled {
  //  opacity: 0;
  //}

  .cert-pagination {
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  &__list {
    margin-top: 72px;
    margin-bottom: 80px;
    @media screen and (max-width: 1199px) {
      margin-top: 127px;
      margin-bottom: 66px;
    }
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .list-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 55px 35px 322px;
    margin-bottom: 71px;
    border-radius: 20px;
    background-color: rgba(48, 55, 73, .4);
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 1199px) {
      padding: 30px 30px 30px 302px;
    }
    @media screen and (max-width: 960px) {
      padding: 20px 20px 20px 260px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      max-width: 425px;
      padding: 102px 15px 33px 15px;
      border-radius: 10px;
    }
  }

  .img-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 280px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    @media screen and (max-width: 1199px) {
      width: 267px;
      height: 239px;
    }
    @media screen and (max-width: 960px) {
      width: 230px;
      height: 210px;
    }
    @media screen and (max-width: 767px) {
      top: -38px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background-color: #D9D9D9;
    }
  }

  .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and (max-width: 767px) {
      object-position: -14px 5px;
    }
  }

  .item-desc {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1199px) {

    }
    @media screen and (max-width: 767px) {
      align-items: center;
      text-align: center;
    }
  }

  .desc-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    @media screen and (max-width: 1199px) {
      font-size: 2.6rem;
    }
    @media screen and (max-width: 960px) {
      font-size: 2.4rem;
    }
  }

  .desc-text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 135%;
    @media screen and (max-width: 1199px) {
      font-size: 1.6rem;
      max-width: 208px;
    }
    @media screen and (max-width: 960px) {

    }
  }

  .desc-text-1 {
    max-width: 226px;
    margin-top: 13px;
    margin-bottom: 23px;
    @media screen and (max-width: 1199px) {

    }
    @media screen and (max-width: 767px) {
      margin-top: 16px;
      margin-bottom: 12px;
    }
  }

  .item-btn {
    padding: 27px 35px;
    border-radius: 70px;
    @media screen and (max-width: 960px) {
      padding: 18px 20px;
    }
    @media screen and (max-width: 767px) {
      padding: 18px 40px;
      margin-top: 21px;
    }
  }

  &__advantage {
    position: relative;
    width: 100%;
    padding: 45px 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    @media screen and (max-width: 1199px) {
      padding: 35px 40px;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 15px 40px;
      border-radius: 10px;
    }
  }

  .advantage-img {
    position: absolute;
    bottom: 45px;
    right: 70px;
    width: 639px;
    height: 289px;
    object-fit: contain;
    @media screen and (max-width: 1199px) {
      bottom: 70px;
      right: 22px;
      width: 482px;
      height: 218px;
    }
    @media screen and (max-width: 960px) {
      width: 400px;
      height: 180px;
    }
    @media screen and (max-width: 767px) {
      position: static;
      width: 70%;
      height: fit-content;
    }
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }

  .advantage-list {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }

  .advantage-title {
    max-width: 550px;
    margin-bottom: 20px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
    @media screen and (max-width: 767px) {
      max-width: 280px;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 120%;
    }
  }

  .advantage-item {
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-image: url(../img/check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 19px;
      height: 13px;
    }
    @media screen and (max-width: 960px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 280px;
      font-size: 1.6rem;
    }
  }

  .item3 {
    margin-bottom: 40px;
  }

  .advantage-btn {
    max-width: 287px;
    padding: 26px 44px;
    font-size: 1.8rem;
    @media screen and (max-width: 767px) {
      padding: 20px 45px;
    }
  }
}

.about {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title {
    max-width: 830px;
    margin-bottom: 37px;
  }

  .accent {
    display: block;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  .block-text {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 24px 24px 50px;
    border-radius: 20px;
    background: rgba(48, 55, 73, .4);
    @media screen and (max-width: 1199px) {
      width: 39.5%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (max-width: 425px) {
      padding: 15px 15px 30px;
    }

  }

  .text-title {
    max-width: 295px;
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
    @media screen and (max-width: 1199px) {
      font-size: 2.8rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    @media screen and (max-width: 425px) {
      font-size: 2rem;
    }

  }

  .text-desc {
    max-width: 315px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    opacity: .6;
    @media screen and (max-width: 1199px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.6rem;
      margin-bottom: 43px;
    }
  }

  .about-logo {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    margin-top: auto;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }
  }

  .logo-img {
    width: 170px;
    height: 45px;
    margin-bottom: 16px;
    border-radius: 5px;
  }

  .logo-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    opacity: .6;
  }

  .block-img {
    width: 65.5%;
    height: 656px;
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
    @media screen and (max-width: 1199px) {
      width: 58.5%;
      height: 585px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    @media screen and (max-width: 1199px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin-top: 30px;
    }
  }

  .about-slider {
    position: relative;
    width: 65.5%;
    height: 656px;
    overflow: hidden;
    @media screen and (max-width: 1199px) {
      width: 58.5%;
      height: 585px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      background-color: #222a3f;
    }
    @media screen and (max-width: 425px) {
      height: 205px;
    }

  }

  .about-slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    @media screen and (max-width: 767px) {
      border-radius: 10px;
    }
  }

  .about-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .about-btn-next,
  .about-btn-prev {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1) inset;
    background-color: rgba(26, 34, 54, .5);
    &:hover {
      background-color: $btn-primary;
    }
  }

  .about-btn-next {
    &:hover {
      &:before {
        border-right: 1px solid $btn-secondary-hover;
        border-bottom: 1px solid $btn-secondary-hover;
      }
    }
  }

  .about-btn-prev {
    &:hover {
      &:before {
        border-left: 1px solid $btn-secondary-hover;
        border-bottom: 1px solid $btn-secondary-hover;
      }
    }
  }

  .about-pagination {
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .text-subtitle {
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 140%;
    @media screen and (max-width: 425px) {
      opacity: .6;
    }
  }

  .about-gost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 213px;
  }

  .gost-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 105px;
    padding: 13px 0;
    margin-top: 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 140%;
    @media screen and (max-width: 425px) {
      opacity: .6;
    }
  }

  .about-slider-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: 1199px) {
      width: 39.5%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      border-radius: 0 0 10px 10px;
      .text-title {
        margin-top: 18px;
      }
    }
  }

  .about-scrollbar {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    width: 100%;
    max-width: 300px;
    height: 2px;
    border-radius: 10px;
    backdrop-filter: blur(44px);
    background: rgba(251, 209, 10, 0.4);
    z-index: 5;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  .swiper-scrollbar-drag {
    background-color: #FBD10A;
  }

  .desc-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 24px 24px 50px;
    background-color: #242B3DFF;
  }

  &__cert {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
    .text-title {
      max-width: 310px;
    }
  }

  &__cert-wrapper {
    position: relative;
    width: 65.5%;
    padding: 28px 71px;
    border-radius: 20px;
    background-color: #242B3DFF;
    @media screen and (max-width: 1199px) {
      display: flex;
      align-items: center;
      width: 58.5%;
      padding: 28px 95px;
    }

    @media screen and (max-width: 767px) {
      display: none;

    }
  }

  &__cert-slider {
    border-radius: 5.84px;
    overflow: hidden;
  }

  .cert-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
  }

  //.swiper-button-disabled {
  //  opacity: 0;
  //}

  .about-cert-pagination {
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .about-cert {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5.84px;
  }

  .btn-block {
    display: flex;
    align-items: center;
    margin-top: auto;
    @media screen and (max-width: 767px) {
      margin-top: 70px;
    }
  }
  .text-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 105px;
    padding: 13px 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 140%;
    @media screen and (max-width: 425px) {
      opacity: .6;
    }
  }

  .cert-link {
    display: none;
    position: relative;
    margin-left: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 140%;
    color: $white-text;
    transition: .3s;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 1px dashed rgba(255, 255, 255, 0.5);
      transition: .3s;
    }
    &:hover {
      color: $accent-text;
      &:after {
        border: 1px dashed $accent-text;
      }
    }
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

.provider {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2.title {
    max-width: 865px;
    margin-bottom: 36px;
    @media screen and (max-width: 1199px) {
      max-width: 748px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 22px;
    }
  }

  &__map {
    position: relative;
    margin-bottom: 256px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 210px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 135px;
    }
  }

  .map-list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 425px) {
      justify-content: space-between;
    }
  }

  .list-item {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -2%;
    @media screen and (max-width: 1199px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  .item-1 {
    max-width: 250px;
    margin-right: 50px;
    @media screen and (max-width: 1199px) {
      max-width: 185px;
      margin-right: 34px;
    }
  }

  .item-2 {
    max-width: 160px;
  }

  .map-img {
    width: 100%;
    margin-top: -50px;
    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }

  .map-desc {
    position: absolute;
    right: -20px;
    bottom: -170px;
    display: flex;
    flex-direction: column;
    max-width: 390px;
    @media screen and (max-width: 1199px) {
      max-width: 285px;
      right: 0;
      bottom: -120px;
    }

    @media screen and (max-width: 767px) {
      width: 85px;
      right: 20px;
      bottom: -30px;
      z-index: 5;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 138px;
        height: 138px;
        background-image: url("../img/map-decor.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -5;
      }
    }
  }

  .map-title {
    font-size: 15rem;
    font-weight: 800;
    color: $accent-text;
    @media screen and (max-width: 1199px) {
      font-size: 11.3rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 3.2rem;
      color: $main-body;
    }
  }

  .title-text {
    font-size: 9.4rem;
    @media screen and (max-width: 1199px) {
      font-size: 6.9rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.8rem;
    }
  }

  .map-subtitle {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 130%;
    @media screen and (max-width: 1199px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
      color: $main-body;
    }
  }

  &__form {
    position: relative;
    padding: 40px 40px 50px;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    @media screen and (max-width: 1199px) {
      max-width: 860px;
      padding: 30px 30px 40px;
      margin: 0 auto;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      max-width: 425px;
      padding: 30px 30px 54px;
      border-radius: 10px;
    }
  }

  .form-decor {
    position: absolute;
    left: 56px;
    bottom: 0;
    width: 386px;
    height: 353px;
    object-fit: cover;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  .form-wrapper {
    max-width: 667px;
    margin-left: auto;
    @media screen and (max-width: 1199px) {
      margin-right: auto;
      margin-left: 0;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .title {
    margin-bottom: 63px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 21px;
    }

    @media screen and (max-width: 767px) {
      max-width: 285px;
      margin-bottom: 34px;
    }
    @media screen and (max-width: 425px) {
      max-width: 230px;
    }
  }

  &__form-body {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .form-input {
    max-width: 216px;
    padding: 25px 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.15);
    color: $white-text;
    &::placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 140%;
      color: $white-text;
      opacity: .7;
    }
    &:first-child {
      margin-right: 10px;
      @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      background: rgba(255, 255, 255, 1);
      color: $main-body;
      &::placeholder {
        color: $main-body;
      }
    }
  }

  .submit-btn {
    padding: 25px 35px;
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    @media screen and (max-width: 767px) {
      max-width: 263px;
      width: 100%;
      padding: 20px 0;
      margin-top: 24px;
      margin-left: 0;
    }
  }
}

.cases {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__list {
    margin-bottom: 140px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 80px;
    }
  }

  .title {
    max-width: 865px;
    margin-bottom: 42px;
    @media screen and (max-width: 1199px) {
      max-width: 777px;
      margin-bottom: 36px;
    }

    @media screen and (max-width: 767px) {
      max-width: 490px;
      margin-bottom: 22px;
    }
  }

  &__slider {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 545px;
    padding: 0 20px;
    margin: 0 auto;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -5px;
      z-index: 4;
      width: 310px;
      height: 100%;
      background: linear-gradient(270.00deg, rgb(24, 32, 51), rgba(24, 32, 51, 0) 100%);
      @media screen and (max-width: 960px) {
        width: 100px;
      }

      @media screen and (max-width: 767px) {
        width: 60px;
      }
    }

    @media screen and (max-width: 767px) {
      height: 410px;
    }
  }

  .slider-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 390px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    background: rgb(36, 43, 61);
    overflow: hidden;
    @media screen and (max-width: 767px) {
      max-width: 280px;
    }
  }

  .slide-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    @media screen and (max-width: 767px) {
      height: 170px;
    }
  }

  .desc-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 30px;
    @media screen and (max-width: 960px) {
      padding: 15px 15px 20px;
    }
  }

  .slide-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  .desc-subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 160%;
    opacity: .4;
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  .desc-title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 130%;
    @media screen and (max-width: 767px) {
      font-size: 1.7rem;
    }
  }

  .desc-sum {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 110%;
    @media screen and (max-width: 1199px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 3.6rem;
    }
  }

  &__button-prev {
    left: 70px;
    @media screen and (max-width: 1199px) {
      left: 20px;
    }
  }

  &__button-next {
    right: 70px;
    @media screen and (max-width: 1199px) {
      right: 20px;
    }
  }

  .button-slide {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    z-index: 5;
    background-color: rgba(250, 208, 10, .2);
    transition: .3s;
    cursor: pointer;
    &:hover {
      background: $accent-text;
      box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.3);

      .arrow {
        path {
          transition: .3s;
          stroke: #FFF;
        }
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  //.swiper-button-disabled {
  //  display: none;
  //}

  .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20%;
    height: 33%;
  }

  .arrow-prev {
    left: 35%;
  }

  .arrow-next {
    right: 35%;
  }

  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 767px) {

    }
  }

  .table-title {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 430px;
    padding: 22px 38px;
    border-radius: 20px;
    background: rgba(48, 55, 73, .4);
    @media screen and (max-width: 1199px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 270px;
      padding: 45px 70px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
      max-width: 425px;
      height: 115px;
      padding: 20px;
      margin-bottom: 15px;
      border-radius: 10px;
    }
  }

  .text {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 126%;
    letter-spacing: -2%;
    @media screen and (max-width: 1199px) {
      max-width: 210px;
    }
    @media screen and (max-width: 960px) {
      max-width: 150px;
      font-size: 2.8rem;
    }

    @media screen and (max-width: 767px) {
      max-width: 80px;
      font-size: 1.5rem;
    }
  }

  .num {
    margin-top: 57px;
    margin-bottom: 20px;
    width: 239px;
    height: 178px;
    object-fit: contain;
    @media screen and (max-width: 1199px) {
      margin: 0;
    }
    @media screen and (max-width: 960px) {
      width: 200px;
      height: 150px;
    }

    @media screen and (max-width: 767px) {
      width: 100px;
      height: 75px;
    }
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    //max-width: 760px;
    width: 65%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      max-width: 425px;
    }
  }

  .table-body {
    position: relative;
    width: 100%;
    height: 430px;
    padding: 20px 20px 0;
    border-radius: 20px;
    background: $white-text;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 140%;
    color: $main-body;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      border-radius: 20px;
      background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      @media screen and (max-width: 767px) {
        height: 30px;
        border-radius: 10px;
      }
    }
    @media screen and (max-width: 767px) {
      height: 210px;
      padding: 5px 10px 0;
      margin: 0 auto;
      border-radius: 10px;
    }
  }

  .headline {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 35px;
    @media screen and (max-width: 1199px) {
      padding-right: 25px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      padding-right: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #0E1932;
      opacity: .1;
      @media screen and (max-width: 767px) {

      }
    }
    tbody {
      width: 100%;
    }
    .row {
      margin-bottom: 0;
    }
  }

  .table-scroll {
    height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    overflow-x:auto;
    @media screen and (max-width: 1199px) {
      padding-right: 20px;
    }
    @media screen and (max-width: 767px) {
      height: 175px;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 0;
    }
    @media screen and (max-width: 425px) {

    }
    table {
      width: 100%;
    }
  }

  .cases__scroll::-webkit-scrollbar {
    width: 5px;
  }

  .cases__scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D8D8D8;
  }

  .cases__scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(216, 216, 216, .2);
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    @media screen and (max-width: 767px) {
      margin-bottom: 13px;
      font-size: 0.8rem;
    }
  }

  .city {
    text-align: start;
    font-size: 1.6rem;
    flex-basis: 30%;
    @media screen and (max-width: 767px) {
      flex-basis: 30%;
      font-size: 0.8rem;
    }
  }

  .sum {
    text-align: end;
  }

  .table-text {
    position: relative;
    margin-top: 20px;
    padding-left: 30px;
    color: #F5F5F5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140%;
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      background-image: url("../img/star.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
    }
    @media screen and (max-width: 767px) {
      max-width: 220px;
      padding-left: 15px;
      margin-top: 10px;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 155%;
      &:before {
        top: 4px;
        width: 9px;
        height: 9px;
      }
    }
  }

  &__doc {
    margin-top: 74px;
    @media screen and (max-width: 1199px) {
      margin-top: 52px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }

  .doc-list {
    @media screen and (max-width: 1199px) {
      overflow-y: auto;
    }
  }

  .doc-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 475px;
    @media screen and (max-width: 1199px) {
      width: 1200px;
      padding: 10px 0;
    }
    @media screen and (max-width: 767px) {
      width: 560px;
      height: 235px;
      margin: 0 auto;
    }
  }

  .doc-item {
    width: 49.5%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .doc-link {
    position: relative;
    display: block;
    padding-left: 34px;
    margin-top: 20px;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 130%;
    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      background-image: url("../img/star.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
    }

    @media screen and (max-width: 1199px) {
      font-size: 2.4rem;
      &:before {
        top: 4px;
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 320px;
      padding-left: 20px;
      font-size: 1.6rem;
      &:before {
        top: 4px;
        width: 9px;
        height: 9px;
      }
    }
  }
}

.question {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title {
    max-width: 884px;
    margin-bottom: 40px;
    @media screen and (max-width: 1199px) {
      max-width: 790px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  .list-item {
    width: 100%;
    max-height: 64px;
    padding: 22px 16px;
    margin-bottom: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: .3s;
    cursor: pointer;
    &.active {
      max-height: 1000px;
      .item-icon {
        &:before,
        &:after {
          background-color: $accent-text-hover;
        }

        &:after {
          opacity: 0;
        }
      }
      @media screen and (max-width: 960px) {
        .item-desc {
          max-height: 1000px;
          margin-top: 22px;
        }

        .item-desc-list {
          max-height: 1000px;
          margin-top: 22px;
        }
      }
    }
    @media screen and (max-width: 960px) {
      max-height: none;
    }


  }

  .item-title,
  .item-desc {
    display: block;
  }

  .item-title {
    position: relative;
    padding-right: 52px;
    margin-bottom: 22px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    transition: .3s;
    @media screen and (max-width: 960px) {
      margin-bottom: 0;
    }
  }

  .item-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $accent-text;
      transition: .3s;
    }

    &:before {
      width: 12px;
      height: 2px;
      border-radius: 2px;
    }

    &:after {
      height: 12px;
      width: 2px;
      border-radius: 2px;
    }
  }

  .item-desc {
    max-width: 926px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    opacity: .8;
    transition: .3s;
    @media screen and (max-width: 960px) {
      max-height: 0;
      overflow: hidden;
    }
  }

  .item-desc-list {
    max-width: 926px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    opacity: .8;
    transition: .3s;
    @media screen and (max-width: 960px) {
      max-height: 0;
      overflow: hidden;
    }
  }

  .item {
    position: relative;
    padding-left: 22px;
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 9px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $white-text;
      opacity: .8;
    }
  }
}

.contacts {
  padding-top: 80px;
  padding-bottom: 190px;
  overflow: hidden;
  @media screen and (max-width: 1199px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    max-width: 545px;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 100%;
    }
    .subtitle {
      max-width: 240px;
      margin-top: 52px;
      margin-bottom: 43px;
      color: rgba(255, 255, 255, 0.80);
      font-size: 2rem;
      font-weight: 400;
      line-height: 155%;
      @media screen and (max-width: 1199px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 767px) {
        margin-top: 36px;
        margin-bottom: 40px;
        font-size: 1.5rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1199px) {
      max-width: 320px;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
      text-align: center;
      max-width: 100%;
      margin-left: 0;
    }

    .contact-phone {
      margin-bottom: 8px;
      color: #FBFBFB;
      font-size: 3rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.6px;
      @media screen and (max-width: 1199px) {
        font-size: 2.8rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }

    .phone-subtitle {
      color: rgba(255, 255, 255, 0.80);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 140%;
      @media screen and (max-width: 767px) {
        font-size: 1.5rem;
      }
    }

    .contact-email {
      margin-top: 12px;
      margin-bottom: 62px;
      color: #FBFBFB;
      font-size: 3rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.6px;
      @media screen and (max-width: 1199px) {
        margin-bottom: 34px;
        font-size: 2.8rem;
      }
      @media screen and (max-width: 767px) {
        margin: 25px 0;
        font-size: 2rem;
      }
    }

    .main-btn {
      width: 100%;
      max-width: 205px;
      padding: 10px 0;
      @media screen and (max-width: 1199px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 767px) {
        max-width: 130px;
        margin: 0 auto;
      }
    }
  }

  &__img {
    position: absolute;
    top: -40px;
    right: -195px;
    z-index: -5;
    width: 1250px;
    height: 740px;
    object-fit: contain;
    @media screen and (max-width: 1199px) {
      top: 60px;
      right: -165px;
      width: 1035px;
      height: 610px;
    }
    @media screen and (max-width: 767px) {
      position: relative;
      top: auto;
      right: auto;
      left: 50%;
      transform: translate(-50%, 0);
      width: 130%;
      height: fit-content;
    }
  }
}

